<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a 
            class="navbar-brand"
        >
            <i 
                tabindex="0"
                class="fa fa-bars mr-2"
                (keyup.space)="menu.toggle()"
                (click)="menu.toggle()"
            >
            </i>
            ALURAPIC
        </a>    

        <ap-menu #menu>
            <ul class="list-unstyled">
                <li>
                    <a showIfLogged [routerLink]="['p', 'add']">Upload</a>
                </li>
            </ul>
        </ap-menu>

        <!--
            Caso for o subscribe de um behavior subject ele ja fara o destroy
        -->
        <div *ngIf="(user$ | async) as user; else login">
            <a class="mr-2">{{ user?.name }}</a>
            <i class="fa fa-user-circle mr-2"></i>
            <a (click)="logout()" class="sair">Sair</a>
        </div>

        <ng-template #login>
            <span class="nabar-text">
                <a [routerLink]="['']">
                    Please, login!
                </a>
            </span>
        </ng-template>

    </nav>
    <div class="fixed-top">
        <ap-loading></ap-loading>
        <ap-alert></ap-alert>
    </div>
</header>